<div class="container row mt-2">
  <p class="alert alert-danger alert-dismissible" *ngIf="errorMessage !== ''">{{errorMessage}}</p>
  <div class="list-group col-md-3" id="userList" role="tablist">
    <h4 class="text-center">Select user</h4>
    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" [class.active]="getUser() == user.id" (click)="setUser(user.id)" *ngFor="let user of userList">{{user.username}}</a>
    <button type="button" class="btn btn-primary mt-2" (click)="showAddForm = !showAddForm">Add user</button>
    <button type="button" class="btn btn-danger mt-2" (click)="deleteUser(getUser())" [disabled]="getUser() == ''">Delete user</button>
  </div>
  <div class="col-md-5" *ngIf="showAddForm">
    <h4 class="text-center">Add new user</h4>
    <form #newUserForm="ngForm" (ngSubmit)="addUser(newUserForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username" name="username" required autofocus ngModel>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Add</button>
    </form>
  </div>
</div>
