<div class="container row mt-2" *ngIf="getUser() != ''">
  <p class="alert alert-danger alert-dismissible" *ngIf="errorMessage !== ''">{{errorMessage}}</p>
  <div class="list-group col-md-3" id="userList" role="tablist">
    <h4 class="text-center">Select note</h4>
    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" [class.active]="getNote() == note.id" (click)="setNote(note.id); setNoteMessage()" *ngFor="let note of noteList">{{note.message}}</a>
    <button type="button" class="btn btn-primary mt-2" (click)="showAddForm = !showAddForm">Add note</button>
    <button type="button" class="btn btn-danger mt-2" (click)="deleteNote(getNote())" [disabled]="getNote() == ''">Delete note</button>
  </div>
  <div class="col-md-4" *ngIf="showAddForm">
    <h4 class="text-center">Add new note</h4>
    <form #newForm="ngForm" (ngSubmit)="addNote(newForm)">
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="text" class="form-control" id="message" aria-describedby="message" placeholder="Note text" name="message" required autofocus ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Add</button>
    </form>
  </div>
  <div class="col-md-4" *ngIf="showEditForm">
    <h4 class="text-center">Edit note</h4>
    <form #editForm="ngForm" (ngSubmit)="editNote(editForm)">
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="text" class="form-control" id="messageEdit" aria-describedby="message" placeholder="Note text" name="message" required autofocus [(ngModel)]="editFormValue"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Edit</button>
    </form>
  </div>
</div>

<div class="containter mt-2" *ngIf="getUser() == ''">
  <p class="alert alert-danger">User not selected</p>
</div>
